* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: white;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: rgb(94, 78, 78);
}
.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: salmon;
}
.card {
  height: 300px;
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border:1px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(43, 43, 9);
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}